<div class="row">
  <div class="col-xs-12">
    <h4>Hope you know what you're doing.</h4>
    <p>You realize that by using this you are breaking the YouTube terms and conditions.</p>
    <p>Please consult p. 5, pp. L, M and p. 9 under the <a href="https://www.youtube.com/static?gl=GB&template=terms">YouTube Terms of Service</a></p>
    <p>If you wish to continue and use this software you are at your own risk and I am in no way liable for your misuse and breaking of the Terms of Service.</p>
    <p>Click <b>I Agree</b> to proceed at your own risk or <b>Nope, cat pls</b> to see an unlicensed (free to use) picture of a cat.</p>
    <p>
    <button type="button" class="btn btn-default" [routerLink]="['/cat']">Nope, cat pls</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/video']">I agree</button>
    </p>
  </div>
</div>